doctype html 
html(lang="fr")
  head
    block head 
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(name="description", content="La bonne sousoupe pour les soupeurs")
      title #{pageTitle}#{titleSep}#{siteTitle}
      link(rel="stylesheet" href="css/style.css")
      link(rel="icon" href="favicon.ico")
  body 
    block content
    block script 